body{

margin:0;
font-family:Inter,sans-serif;
color:#222;

}



/* NAVBAR */

.nav{

position:fixed;
width:100%;
background:white;
box-shadow:0 2px 10px rgba(0,0,0,.05);
z-index:1000;

}

.nav-container{

display:flex;
justify-content:space-between;
align-items:center;

}

.logo img{

height:50px;
width:auto;

}


nav a{

margin-left:30px;
text-decoration:none;
color:#333;
font-weight:500;

}

nav a:hover{

color:#2c3b2d;

}

.nav-button{

background:#2c3b2d;
color:white;
padding:10px 18px;
border-radius:4px;

}

.nav-button:hover{

background:#1e2a20;

}


/* HERO */


.hero{

height:600px;

background:
linear-gradient(rgba(0,0,0,.35), rgba(0,0,0,.35)),
url('House.png');

background-size:cover;
background-position:center;
background-repeat:no-repeat;

display:flex;
align-items:center;

}


.hero-overlay{

position:absolute;

width:100%;

height:100%;

background:linear-gradient(

90deg,

rgba(20,30,20,.85),

rgba(20,30,20,.4)

);

}



.hero-content{

position:relative;
max-width:700px;
text-align:left;

}



.hero h1{

font-size:52px;
margin-bottom:20px;

}



.hero p{

font-size:20px;
margin-bottom:30px;

}



.hero-buttons a{

margin-right:15px;

text-decoration:none;

}



.button-primary{

background:#2c3b2d;
padding:14px 28px;
color:white;
border-radius:4px;

}



.button-secondary{

border:1px solid white;
padding:14px 28px;
color:white;
border-radius:4px;

}



.button-primary:hover{

background:#1e2a20;

}



.button-secondary:hover{

background:white;
color:black;

}



/* TRUST SECTION */

.trust{

padding:100px 20px;
text-align:center;

}

.trust h2{

font-size:36px;
margin-bottom:20px;

}

.trust p{

font-size:18px;
color:#555;

}




