body{

margin:0;
padding-top:90px;
font-family:Inter,sans-serif;
color:#222;

}



/* NAVBAR */
/* DESKTOP NAV */

#navMenu{
display:flex;
align-items:center;
}

.menu-toggle{
display:none;
}

.nav{
position:fixed;
  top:0;
display: flex;
width:100%;
background:white;
box-shadow:0 2px 10px rgba(0,0,0,.05);
z-index:1000;

}

.nav-container{

display:flex;
justify-content:space-between;
align-items:center;
padding:20px 60px;
}

.logo img{

height:50px;
width:auto;

}


nav a{

margin-left:30px;
text-decoration:none;
color:#333;
font-weight:500;

}

nav a:hover{

color:#2c3b2d;

}

.nav-button{

background:#2c3b2d;
color:white;
padding:10px 18px;
border-radius:4px;

}

.nav-button:hover{

background:#1e2a20;

}


/* HERO */
/* HERO */

.hero{

position:relative;
height:90vh;

background-image:
linear-gradient(rgba(20,30,20,.55), rgba(20,30,20,.55)),
url('House.png');

background-size:cover;
background-position:center;
background-repeat:no-repeat;

display:flex;
align-items:center;

color:white;

}

/* Container for text */

.hero-content{

max-width:700px;
margin-left:80px;

}

/* Heading */

.hero h1{

font-size:56px;
margin-bottom:20px;

}

/* Paragraph */

.hero p{

font-size:22px;
margin-bottom:30px;

}

/* Buttons */

.hero-buttons a{

margin-right:15px;
text-decoration:none;

}

.button-primary{

background:#2c3b2d;
padding:14px 28px;
color:white;
border-radius:4px;

}

.button-secondary{

border:1px solid white;
padding:14px 28px;
color:white;
border-radius:4px;

}

/* TRUST SECTION */

.trust{

padding:100px 20px;
text-align:center;

}

.trust h2{

font-size:36px;
margin-bottom:20px;

}

.trust p{

font-size:18px;
color:#555;

}

/* MOBILE NAV */

@media (max-width: 768px){

/* show hamburger */
.menu-toggle{
display:block;
font-size:28px;
cursor:pointer;
}

/* hide menu initially */
#navMenu{
display:none;
position:absolute;
top:80px;
left:0;
width:100%;
background:white;
flex-direction:column;
box-shadow:0 4px 12px rgba(0,0,0,.1);
}

/* stacked buttons */
#navMenu a{
padding:18px;
margin:0;
border-bottom:1px solid #eee;
}

}


